<div class="card" style="max-width: 30rem; min-width: 30rem;">
   <div class="card-header">
        <h3><%= @email.object %></h3>

    </div>
     <div class="container">
     <%= @email.body %>
     </div>
</div>

