<body>
<div class="container">
  <div class="row">
  <div class="card bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header text-white">
    Emails
  </div>
  <ul class="list-group list-group-flush">
    <% @emails.each do  |email|%>
        <%= button_tag "#{email.object}",class:'list-group-item btn btn-light', data: {remote: true,url: edit_email_path(email), method: :get }%>
    <% end %>
  </ul>
  </div>
 
   <div class="col">
  </div>
</div>
</body>